.add_title {
  margin-bottom: 1.6rem;
  font-size: 2.6rem;
  text-align: center;
}

.add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_input {
  width: 100%;
  font-size: 1.8rem;
  padding: 0.8rem;
  margin-bottom: 1.6rem;
}
