@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: verdana;
}

#main {
  flex-grow: 1;
}
